body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
header{
    background-color:whitesmoke;
    padding: 15px 20px;
    padding-right: 80px;
    padding-left: 80px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home{
    color: rgb(243, 103, 150);
}
nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: rgba(35, 35, 35, 0.865);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}
.addnumber{
    position: absolute;
    top: 17px;
    right: 7%;
    color: #080808;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.sectionOne{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 10px;
}
.hometext{
    width: 50%;
    padding: 30px 30px;
    margin-bottom: 100px;
}
.hometext h1{
    font-size: 4rem;
    margin-bottom: 20px;
    color:rgb(41, 38, 38);
}
.black{
    color:black;
    font-weight: bold;
}
.blue{
    color:  #28d5ec; 
    font-weight: bold;
}
.hometext p{
    font-size: 1rem;
    color: #0e0d0d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
}
.homepic{
    width: 40%;
    text-align: center;
}
.homepic img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.twoimage{
    width: fit-content;
    flex: 1;
    text-align: left;
    margin-left: 60px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
}
.twoimage img{
    border-radius: 90%;
    max-width: 350px;
    border-color: #5e5656;
}
.twotext{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 200px;
    margin-top: -23%;
    margin-left: 40%;
}
.box{
    border: 2px dashed #007bff;
    padding: 20px;
    text-align: center;
    border-radius: 2px;
}
.box span{
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    color: #007bff;
}
.box p{
    margin: 0;
    font-size: 0.9em;
    color: #333;
}
.contenttwo{
    width: 300%;
    margin-left: 99%;
    margin-top: -200%;
    padding: 20px;
}
.contenttwo h1{
    color: #ff4081;
    font-size: 3em;
    margin-bottom: 5px;
}
.contenttwo h1 span{
    color: #007bff;
}
.contenttwo p{
    color: #333;
    line-height: 1.6;
}
.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.button:hover {
    background: #0056b3;
}
#local{
    font-family: Arial, sans-serif;
    background-color: black;
    color: rgb(233, 223, 223);
}
.inter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}
.face{
    width: 50%;
    padding: 30px 30px;
    margin-bottom: 100px;
}
.face h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    color:rgb(0, 0, 0) ;
}
.pink {
    color:rgb(245, 24, 178);
    font-weight: boblld;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.face p {
    font-size: 1rem;
    color: #0e0d0d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1%;
}
.imagepart{
    width: 50%;
    text-align: center;
}
.imagepart img {
    max-width: 100%;
    height: auto;
}
.imagefour{
    width: fit-content;
    margin-left: 10%;
    margin-top: 5%;
}
.textfour{
    width: 70%;
    padding: 20px;
    margin-left: 25%;
    margin-top: -31%;
    border: black 2px dotted ;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}
.sectionfive{
    padding-left: 10%;
    padding-right: 10%;
}
.fivetext h1{
    font-size: 45px;
    font-weight: bold;
}
.sectionsix-heading{
    padding: 6rem;
    text-align: center;
}
.frontimages{
    text-align: center;
    height: 700px;
    display: flex;
    justify-content: space-between;
    padding: 0 6rem;

}
.image-one{
    padding: 4rem 3rem ;
    width: 28%;
    height: auto;
}
.image-two{

    width: 30%;
    height: auto;

}
.image-three{
    padding: 4rem 3rem;
    width: 28%;
    height: auto;
}

.imagetext{
    font-size: 1.7rem;
    font-weight: bold;
}

.buttonshop{
    color: #333;
    padding: 0.7rem 1.5rem;
    border:1px solid #333;
    border-radius: 25px;
}

.icon-left-right{
    margin-top: 10rem;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #3498db ;
    padding: 0.7rem;
    justify-content: left;
    align-items: center;
}
.text-border{
    padding: 0 1rem ;
    margin-top: 0.6rem ;
   border: 1px solid black;
   border-radius: 15px;
}
.points{
    padding: 2rem;
}
.points ul li{
    padding-top: 1rem;
}
.submit-form{
    margin-top: 25%;
    background-color: #0096FF;
    height: 200px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
}
.data-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.form-section {
    background-color: #f0eeee;
  padding: 20px;
  width: 80%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute; bottom: 0;margin-bottom: 50px;
}
.radiogroup {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.radiogroup input[type="radio"]{
    accent-color: pink;
  }
.radiogroup label{
    margin-right: 15px;
    font-size: 16px;
}
form {
    display: flex;
    flex-direction: column;
}
.forgroup{
    margin-bottom: 15px;
    width: 500px;
    border-color: none;
}
label{
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
textarea {
  resize: none;
  height: 100px;
}
.submit-button{
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.submit-button:hover {
    background-color: #0056b3;
}
.homepicture{
    max-width: 100%;
    margin-left: 80px;
    margin-top: 10px;
}
.logo{
    max-width: 100%;
    margin-left: 40%;
}
.alert{
    width: 100%;
    background: rgb(0, 225, 106);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    display: none;
}